<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>News Junkie</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
  <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
  <link rel="stylesheet" href="css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
  <link rel="shortcut icon" href="img/news.png" type="image/x-icon" />
  <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
  <h1 class="header">News <span>Junkie</span></h1>

  <div class="menu" ng-controller="MainCtrl as main">
    <ul>
        <li><a href="#!/general" ng-click="main.addClass('home')" ng-class="main.check==='home' ? 'active' : 'none'">General</a></li>
        <li><a href="#!/science" ng-click="main.addClass('science')" ng-class="main.check==='science' ? 'active' : 'none'">Science/Tech</a></li>
        <li><a href="#!/entertainment" ng-click="main.addClass('entertainment')" ng-class="main.check==='entertainment' ? 'active' : 'none'">Entertainment</a></li>
        <li><a href="#!/sports" ng-click="main.addClass('sports')" ng-class="main.check==='sports' ? 'active' : 'none'">Sports</a></li>
        <li><a href="#!/business" ng-click="main.addClass('business')" ng-class="main.check==='business' ? 'active' : 'none'">Business</a></li>
    </ul>
</div>

  <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

  <div ng-view></div>

  <footer>
    <p class="copyright">Coded & Designed by <a href="https://www.ericandrewluna.com">Eric Luna</a></p>
    <span>Powered By: Newsapi.org</span>
  </footer>


  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
  -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="app.js"></script>
  <script src="general/general.js"></script>
  <script src="science/science.js"></script>
  <script src="entertainment/entertainment.js"></script>
  <script src="business/business.js"></script>
  <script src="sports/sports.js"></script>
</body>
</html>
