<div ng-controller="SportsCtrl as sports">
    <div class="select-menu">
        <select
        ng-model="sports.select"
        ng-change="sports.currentPage(sports.select)">
            <option value="#!/general">General</option>
            <option value="#!/science">Science/Tech</option>
            <option value="#!/entertainment">Entertainment</option>
            <option value="#!/sports">Sports</option>
            <option value="#!/business">Business</option>
        </select>
        <select                                               
        ng-model="sports.initial"
        ng-options="source.source as source.name for source in sports.sources"
        ng-change="sports.changeSource(sports.initial)"
         ></select>
    </div>
    <div class="content">
        <div class="news-list">
        	<h2>Top Headlines From <span>{{sports.currentSource}}</span></h2>
            <ul ng-repeat="article in sports.headlines">
                <li>
                    <h3><a ng-href="{{article.url}}" target="_blank">{{article.title}}</a></h3></li>
                <li><img ng-src="{{article.urlToImage}}"></li>
                <li class="description">{{article.description}}</li>
            </ul>
        </div>
        <div class="sources">
        	<h2>News Providers:</h2>
            <ul ng-repeat="source in sports.sources">
                <li ng-click="sports.changeSource(source.source, source.name)"
                ng-class="sports.check==='{{source.name}}' ? 'active-side' : 'none'">{{source.name}}</li>
            </ul>
        </div>
    </div>
</div>
